* {
  margin: 0;
  padding: 0;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

.btn-round {
  margin: 20px;
}

.navbar {
  background-color: #41e6e6;
  text-align: center;
}

.navbar img {
  width: 50px;
}

.beer {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}

.beer__infos {
  margin-inline: 2rem;
}

.beer__infos a,
.beer-card__infos a {
  color: black;
  text-decoration: none;
}

.beer__infos a:hover,
.beer-card__infos a:hover {
  text-decoration: underline;
}

.beer__infos p {
  color: grey;
}

.beer-card {
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  border-bottom: 1px solid gray;
}

.beer-card__image {
  height: 8rem;
  width: 2rem;
  object-fit: cover;
}
.all-beers {
  margin: 0 auto;
  width: 20rem;
}
